
# Dependencies
node_modules/
client/node_modules/
server/node_modules/

.pnp
.pnp.js
pnpm-lock.yaml
yarn.lock
package-lock.json

# Testing
coverage/

# Production Builds
build/
dist/
client/.next/
out/

# Environment Variables
.env
client/.env
server/.env


# TypeScript
*.tsbuildinfo

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Operating System Files
Thumbs.db
